
@model IEnumerable<Contact>

<table>
    <tr>
        <th>lastname</th>
        <th>firstname</th>
        <th>patronymic</th>
        <th>phone</th>
        <th>actions</th>
    </tr>
    @foreach (var contact in Model ?? Enumerable.Empty<Contact>())
    {
        <tr>
            <td>@contact.Lastname</td>
            <td>@contact.Firstname</td>
            <td>@contact.Patronymic</td>
            <td>@contact.Phonenumber</td>
            <td>
                <a asp-controller="Contact" 
                   asp-action="Show"
                   asp-route-id="@contact.ContactId"
                   >show</a>
                <a asp-controller="Contact"
                   asp-action="edit"
                   asp-route-id="@contact.ContactId"
                   >edit</a>
            </td>
        </tr>
    }
</table>
<a asp-controller="Contact"
   asp-action="Create"
   >add new</a>