
@model ContactListViewModel
@{
    ViewBag.Title = "list";
}

@(await Component.InvokeAsync("FilterPanel"))

<table>
    <tr>
        <th>lastname</th>
        <th>firstname</th>
        <th>patronymic</th>
        <th>phone</th>
        <th>actions</th>
    </tr>
    @foreach (var contact in Model.Contacts ?? Enumerable.Empty<Contact>())
    {
        <tr>
            <td>@contact.Lastname</td>
            <td>@contact.Firstname</td>
            <td>@contact.Patronymic</td>
            <td>@contact.Phonenumber</td>
            <td>
                <form method="post"
                      asp-controller="Contact"
                      asp-action="Delete">
                    <input name="id" value="@contact.ContactId" hidden />
                    <a asp-controller="Contact"
                       asp-action="show"
                       asp-route-id="@contact.ContactId">show</a>
                    <a asp-controller="Contact"
                       asp-action="edit"
                       asp-route-id="@contact.ContactId">edit</a>
                    <button type="submit">delete</button>
                </form>
            </td>
        </tr>
    }
</table>
<a asp-controller="Contact"
   asp-action="Create">add new</a>
<p>
    @for (int i = 1; i <= Model.PageCount; i++)
    {
        <a asp-controller="Contact"
           asp-action="List"
           asp-route-page="@i"
           asp-route-fname="@Model.FilterName"
           asp-route-fphone="@Model.FilterPhonenumber"
           >@i</a>
        @:&nbsp;
    }
</p>