
@model IEnumerable<Contact>
@(ViewBag.Title = "list")
<table>
    <tr>
        <th>lastname</th>
        <th>firstname</th>
        <th>patronymic</th>
        <th>phone</th>
        <th>actions</th>
    </tr>
    @foreach (var contact in Model ?? Enumerable.Empty<Contact>())
    {
        <tr>
            <td>@contact.Lastname</td>
            <td>@contact.Firstname</td>
            <td>@contact.Patronymic</td>
            <td>@contact.Phonenumber</td>
            <td>
                <form method="post"
                      asp-controller="Contact"
                      asp-action="Delete">
                    <input name="id" value="@contact.ContactId" hidden />
                    <a asp-controller="Contact"
                       asp-action="show"
                       asp-route-id="@contact.ContactId">show</a>
                    <a asp-controller="Contact"
                       asp-action="edit"
                       asp-route-id="@contact.ContactId">edit</a>
                    <button type="submit">delete</button>
                </form>
            </td>
        </tr>
    }
</table>
<a asp-controller="Contact"
   asp-action="Create"
   >add new</a>