@model ContactListViewModel

@{
    int pageFirst = ViewBag.PageFirst;
    int pageLast = ViewBag.PageLast;
}

    <ul class="pagination">
        <li class="page-item">
            <a asp-controller="Contact"
               asp-action="List"
               asp-route-PageNo="1"
               asp-route-FilterName="@Model.FilterName"
               asp-route-FilterPhonenumber="@Model.FilterPhonenumber"
               asp-route-FilterTag="@Model.FilterTag"
               asp-route-SortOption="@Model.SortOption"
               class="page-link">First</a>
        </li>
        @for (int i = pageFirst; i <= pageLast; i++)
        {
            string btnclass = i == Model.PageNo
            ? "page-item active"
            : "page-item";

            <li class="@btnclass">
                <a asp-controller="Contact"
                   asp-action="List"
                   asp-route-PageNo="@i"
                   asp-route-FilterName="@Model.FilterName"
                   asp-route-FilterPhonenumber="@Model.FilterPhonenumber"
                   asp-route-FilterTag="@Model.FilterTag"
                   asp-route-SortOption="@Model.SortOption"
                   class="@btnclass">@(i)</a>
            </li>
        }
        <li class="page-item">
            <a asp-controller="Contact"
               asp-action="List"
               asp-route-PageNo="@(Model.PageCount > 0 ? Model.PageCount : 1)"
               asp-route-FilterName="@Model.FilterName"
               asp-route-FilterPhonenumber="@Model.FilterPhonenumber"
               asp-route-FilterTag="@Model.FilterTag"
               asp-route-SortOption="@Model.SortOption"
               class="page-link">Last</a>
        </li>
    </ul>

