@model ContactListViewModel

@{
    int pageFirst = ViewBag.PageFirst;
    int pageLast = ViewBag.PageLast;
}

<div>
    @for (int i = pageFirst; i <= pageLast; i++)
    {
        string btnclass = i == Model.PageNo
            ? "btn btn-sm btn-primary"
            : "btn btn-sm btn-default";
        <a asp-controller="Contact"
           asp-action="List"
           asp-route-page="@i"
           asp-route-fname="@Model.FilterName"
           asp-route-fphone="@Model.FilterPhonenumber"
           asp-route-fsort="@Model.SortOption"
           class="@btnclass"
           >@i</a>
        @:&nbsp;
    }
</div>