
@model ContactListViewModel

@{ 
    Dictionary<string, string> sortOptionDict = ViewBag.SortOption;
}

<form method="get"
      asp-controller="Contact"
      asp-action="List"
     >
    <input name="page" value="" hidden />
    <div class="form-group">
        <label>name</label>
        <input name="fname" value="@Model.FilterName" class="form-control"/>
    </div>
    <div class="form-group">
        <label>phone</label>
        <input name="fphone" value="@Model.FilterPhonenumber" class="form-control"/>
    </div>
    <div class="form-group">
        <label>sort</label>
        <select name="fsort" class="form-control">
            @foreach (var item in sortOptionDict)
            {
                if (item.Key == Model.SortOption)
                {
                    <option label="@item.Value" value="@item.Key" selected></option>
                    continue;
                }
                <option label="@item.Value" value="@item.Key"></option>
            }
        </select>
    </div>
    <button type="submit"
            class="btn btn-primary btn-sm">submit</button>
    <a asp-controller="Contact"
       asp-action="list"
       class="btn btn-default btn-sm">reset</a>
</form>